.title{
    background-color: black;
}
.title h1{
    color: white;
    margin-bottom: 1px;
}
.subtitles{
    display: flex;
    background-color: grey;
    margin-top: 5px;
    padding-left: 10px;
}
.subtitles h2 + h2{
    margin-left: 562px ;
}
.menus{
    display: flex;
    justify-content: space-evenly;
    background-color: grey;
    padding: 1%;
    margin-top: 5px;
    
    list-style-type: none;
}
.section1{
    display: flex;
    margin-left: 20px;
}
.section1 p{
    display: flex;
    margin-left: 50px;
}
.section2{
    display: flex;
    margin-top: 30px;
    margin-left: 20px;
}
.section2 p{
    margin-left: 50px;
    margin-right: 50px;
}
footer{
    background-color: black;
    color: white;
    height: 55px;
    padding-top: 13px;
    padding-left: 5px;
    margin-top: 10px;
}