
.figure1{
    border: 2px solid  black;
    width: 10%;
    padding-bottom: 100px;
}
.figure2{
    border: 5px solid  black;
    padding: 1%;
}
.figure3{
    border: 1px solid  orange;
    margin: 2%;
}
.figure4{
    border: 1px solid  turquoise;
    border-radius: 10px;
    width: 20%;
    padding-bottom: 100px;
}
.figure5{
    border: 1px solid  black;
    padding-left: 35px;
}
.figure6{
    border: 1px solid  black;
    margin-left: 35px;
}
.figure7{
    border: 7px solid  turquoise;
    border-radius: 10px;
    margin-left: 45%;
    margin-right: 50%;
    margin-top: 3%;
    padding-bottom: 4%;
    padding-top: 1%;
    padding-left: 4px;
    padding-right: 4px;
    width: 7%;
    }