body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background: #f0f0f0;
}

h1 {
    margin-top: 20px;
}

#grid {
    display: grid;
    grid-template-rows: repeat(6, 60px);
    grid-template-columns: repeat(5, 60px);
    gap: 5px;
    justify-content: center;
    margin: 20px auto;
}

.celda {
    width: 60px;
    height: 60px;
    border: 2px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    text-transform: uppercase;
    background: white;
}

#tecladoLetras {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    margin: auto;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.tecla {
    width: 60px;
    height: 60px;
    border-radius: 6px;
    font-size: 28px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: orange;
}

button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

#comprobar { background: green; }
#borrar { background: red; }
